{% extends 'base.html' %} {% block sidebar %}
<!-- Se debe cargar dinamicamente segun el rol que ingrese -->
{% include 'nav_bar/nav_admin.html' %} {% endblock %} {% block rolename %}
<!-- Se debe cargar dinamicamente -->
ADMINISTRADOR {% endblock %} {% block content %}

<div style="background-color: #E1E1E1">
    <section id="perfil">
        <div style="background-color: #FFFFFF" class="col-md-6 mx-auto">
            <div class="panel-group">
                <h2>Mi Perfil</h2>                
                <form method="POST">                    
                    <div class="form-group">
                    	<label>Nombre Completo:</label>
                    	<input type="text" id="nom-completo" readonly>
                    </div>
                    <div class="form-group">
                    	<label>Nombre Corto:</label>
                    	<input type="text" id="nom-corto" readonly>
                    </div>
                    <div class="form-group">
                    	<label>Email:</label>
                    	<input type="email" id="correo" readonly>
                    </div>
                    <div class="form-group">
                    	<label>Rol:</label>
                    	<input type="text" id="rol" readonly>
                    </div>                    
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}
