{% extends 'base.html' %} {% block sidebar %}
<!-- Se debe cargar dinamicamente segun el rol que ingrese -->
{% include 'nav_bar/nav_admin.html' %} {% endblock %} {% block rolename %}
<!-- Se debe cargar dinamicamente -->
ADMINISTRADOR {% endblock %} {% block content %}
<div style="background-color:  #E1E1E1">
    <section id="formulario">
        <div style="background-color: #FFFFFF" class="col-md-6 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Agregar Usuario</h2>                
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" type="text" name="first_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Apellidos</label>
                                <input class="form-control" type="text" name="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Nombre de usuario</label>
                                <input class="form-control" type="text" name="username">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Correo</label>
                                <input class="form-control" type="text" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Escuela</label>
                                {{ form.escuela }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Rol</label>
                                {{ form.rol }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Contraseña</label>
                                <input class="form-control" type="password" name="password1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label >Confirmar contraseña</label>
                                <input class="form-control" type="password" name="password2">
                            </div>
                        </div>
                    </div>
                    <div class="text-center form-group">
                        <button id="agregar" type="submit" class="btn btn-primary">Guardar</button>
                        <button id="limpiar" type="reset" class="btn btn-primary">Limpiar</button>
                        <button type = "dismiss" class="btn btn-warning">
                            <a id="cancelar" href="{% url 'usuario:usuario_listar' %}" >Cancelar</a>                
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}
