{% extends 'base.html' %} 
{% block sidebar %}
<!-- Se debe cargar dinamicamente segun el rol que ingrese -->
{% include 'nav_bar/nav_admin.html' %} 
{% endblock %} 
{% block rolename %}
<!-- Se debe cargar dinamicamente -->
ADMINISTRADOR {% endblock %} {% block content %}
<div style="background-color: #E1E1E1">
    <section id="formulario">
        <div id="div_tabla"  style="background-color: #FFFFFF" class="col-md-7 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Usuarios</h2>  
                <div style="float: right;">
                    <a class="btn btn-primary" href="{% url 'usuario:usuario_crear' %}">
                        <i class='icon-plus-sign-alt icon-large'></i> Nuevo Usuario</a>
                </div>              
                <hr> {% if object_list %}
                <table id="usuarios" class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="width: 120px;color: black">Nombre de usuario</td>
                            <td style="width: 150px;color: black">Nombre</td>
                            <td style="width: 150px;color: black">Apellidos</td>
                            <td style="color: black">Correo Electronico</td>
                            <td style="width: 130px"> Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in object_list %}
                        {% if usuario.estado and usuario.is_superuser != True %}
                        <tr>
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.first_name }}</td>
                            <td>{{ usuario.last_name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td class="text-center" style="padding: 10px 10px 10px 10px">
                                <a class="btn btn-primary btn-sm" href="{% url 'usuario:usuario_editar' usuario.id %}">Editar</a>
                                <a id="delete" class="btn btn-danger btn-sm" data-tipo="usuario" data-id="{{usuario.id}}" data-nombre="{{usuario.first_name}} {{usuario.last_name}}" href="#">Eliminar</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>NO HAY USUARIOS REGISTRADOS</h4>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% endblock %}
{% block extrajs %}
<script>
    $('#usuarios').DataTable({
        "language": {
            "lengthMenu": "Mostrando _MENU_ registros",
            "info": "Página _PAGE_ de _PAGES_",
            "search": "Buscar:",
            "paginate": {
                "first": "Primera",
                "previous": "Pág. Anterior",
                "next": "Siguiente",
                "last": "Última"
            }
        }
    });
</script> {% endblock %}