{% extends 'base.html' %} {% block sidebar %}
<!-- Se debe cargar dinamicamente segun el rol que ingrese -->
{% include 'nav_bar/nav_decano.html' %} {% endblock %} {% block rolename %}
<!-- Se debe cargar dinamicamente -->
DECANO {% endblock %} {% block content %}
<div style="background-color:  #E1E1E1">
    <section id="formulario">
        <div style="background-color: #FFFFFF" class="col-md-6 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Agregar Programa</h2>                
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center form-group">
                        <button id="agregar" type="submit" class="btn btn-default">Guardar</button>
                        <button id="limpiar" type="reset" class="btn btn-default">Limpiar</button>
                        <button id="cancelar" type="button" class="btn btn-default">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}