{% extends 'base.html' %}  {% block content %}
<div style="background-color: #E1E1E1">
    <section id="formulario">
        <div id="div_tabla" style="background-color: #FFFFFF" class="col-md-8 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Programas</h2>                
                <div style="float: right;">
                    <a class="btn btn-primary" href="{% url 'programa:programa_crear' %}">
                        <i class='icon-plus-sign-alt icon-large'></i> Nuevo Programa</a>
                </div>
                 {% if object_list %}
                <table id="programas" class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <td style="color: black">Codigo</td> -->
                            <td style="color: black; width:220px">Nombre</td>
                            <td class="text-center" style="color: black; width: 6px">Número semestres</td>
                            <td class="text-center" style="color: black; width: 6px">Creditos</td>
                            <td style="color: black">Escuela</td>
			    <td style="color: black">Director de Programa</td>
                            <td style="width: 130px"> Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programa in object_list %}
                        {% if programa.estado %}
                        <tr>
                            <td>{{ programa.nombre }}</td>
                            <td class="text-center">{{ programa.semestres }}</td>
                            <td class="text-center">{{ programa.creditos }}</td>
                            <td>{{ programa.cod_escuela.nombre_largo }}</td>
                            <td>{{ programa.dir_programa }}</td>
                            <td class="text-center" style="padding: 10px 10px 10px 10px">
                                <a class="btn btn-primary btn-sm" href="{% url 'programa:programa_editar' programa.id  %}"> Editar </a>
                                <a class="btn btn-danger btn-sm" id="delete" data-tipo="programa" data-id="{{ programa.id }}" data-nombre="{{ programa.nombre }}"
                                href="#">Eliminar</a>                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>NO HAY PROGRAMAS REGISTRADOS</h4>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% endblock %}
{% block extrajs %}
<script>
    $('#programas').DataTable({
        "language": {
            "lengthMenu": "Mostrando _MENU_ registros",
            "info": "Página _PAGE_ de _PAGES_",
            "search": "Buscar:",
            "paginate": {
                "first": "Primera",
                "previous": "Pág. Anterior",
                "next": "Siguiente",
                "last": "Última"
            }
        }
    });
</script> {% endblock %}