{% extends 'base.html' %} {% block sidebar %}
<!-- Se debe cargar dinamicamente segun el rol que ingrese -->
{% include 'nav_bar/nav_docente.html' %} {% endblock %} {% block rolename %}
<!-- Se debe cargar dinamicamente -->
DOCENTE {% endblock %} {% block content %}
<div style="background-color: #E1E1E1">
    <section id="formulario">
        <div style="background-color: #FFFFFF" class="col-md-6 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Consultar Curso</h2>                
                <hr> {% if object_list %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="color: black">Codigo del curso</td>
                            <td style="color: black">Codigo del programa</td>
                            <td style="color: black">Nombre</td>                            
                            <td style="color: black">Creditos</td>  
                            <td style="color: black">Horas de clase magistral</td>
                            <td style="color: black">Horas de estudio individual</td>  
                            <td style="color: black">Tipo de curso</td>                           
                            <td> Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in object_list %}
                        {% if usuario.estado %}
                        <tr>
                            <td>{{  }}</td>
                            <td>{{  }}</td>
                            <td>{{  }}</td>
                            <td>{{  }}</td>
                            <td>{{  }}</td>
                            <td class="text-center" style="width:100%;padding: 10px 10px 10px 10px">
                                <a class="btn btn-primary btn-sm" href="{% url 'curso:curso_editar' curso.cod %}"> Editar </a>
                                <a class="btn btn-danger btn-sm" href="{% url 'curso:curso_eliminar' curso.cod %}">Eliminar</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>NO HAY CURSOS REGISTRADOS</h4>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% endblock %}