{% extends 'base.html' %} {% block sidebar %}
<!-- Se debe cargar dinamicamente segun el rol que ingrese -->
{% include 'nav_bar/nav_docente.html' %} {% endblock %} {% block rolename %}
<!-- Se debe cargar dinamicamente -->
DOCENTE {% endblock %} {% block content %}
<div class="container">
    <h3 class="text-center">
        Gestión de Cursos
    </h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a id="cargador" href="#" style="color:white;" class="btn">CREAR CURSOS</a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a id="cargador" href="#" style="color:white;" class="btn">CONSULTAR CURSOS</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}