{% extends 'base.html' %} {% block content %}
<div style="background-color:  #E1E1E1">
    <div class="jumbotron" style="padding: 1rem 2rem">

        <form method="POST">
            {% csrf_token %}
            <h3>¿Seguro que desea eliminar el registro de la escuela {{ object.nombre_corto }} - {{ object.nombre_largo}}? </h3>
            <div class="text-center">
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn btn-info" href="{% url 'usuario:usuario_listar'%}">Cancelar</a>    
            </div>
        </form>
        
    </div>
</div>

{% endblock %}