{% extends 'base.html' %} 
{% load staticfiles %}
 {% block content %}
<div style="background-color: #E1E1E1">
    <section id="formulario">
        <div id="div_tabla"  class="col-md-7 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Escuelas</h2>  
                <div style="float: right;">
                   <a class="btn btn-primary" href="{% url 'escuela:escuela_crear' %}"><i class='icon-plus-sign-alt icon-large'></i> Nueva Escuela</a> 
                </div>              
                <hr> {% if object_list %}
                <table id="escuelas" class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="color: black">Nombre Corto</td>
                            <td style="color: black">Nombre Largo</td>
                            <td style="color: black"> Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for escuela in object_list %}
                        {% if escuela.estado %}
                        <tr>
                            <td >{{ escuela.nombre_corto }}</td>
                            <td>{{ escuela.nombre_largo }}</td>
                            <td class="text-center" style="padding: 10px 10px 10px 10px">
                                <a class="btn btn-primary btn-sm" href="{% url 'escuela:escuela_editar' escuela.id %}">Editar</a>
                                <a class="btn btn-danger btn-sm" id="delete" data-tipo="escuela" data-id="{{ escuela.id }}" data-nombre="{{ escuela.nombre_corto }}" href="#">Eliminar</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>NO HAY ESCUELAS REGISTRADAS</h4>
                {% endif %}
            </div>
            
        </div>
    </section>
</div>


{% endblock %}
{% block extrajs %}
<script>
    $('#escuelas').DataTable();
</script>
{% endblock %}