#cargador{
    background-color: red !important;
    border: 2px solid black !important;
    color: white;
    border-radius: 7px !important;
    margin-top: 10px !important;
  }

  #div_tabla{
    background-color: #FFFFFF;
    max-width: 1000px
  }

  #verde{
    background-color: rgb(179, 223, 114);
  }

  #rojo{
    background-color: rgb(233, 122, 122);
  }