<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="#">Perfil</a>
                </li>
                <div id="acordion-cursos" class="panel-group">
                    <li>
                        <a href="{% url 'curso:curso_listar' %}" >Cursos</a>
                    </li>
                </div>                                
                <li>
                    <a href="{% url 'salir' %}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->