<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            </li>
            <li>
                <a href="#">Perfil</a>
            </li>
            <div id="acordion-usuarios" class="panel-group">
                <li>
                    <a href="{% url 'usuario:usuario_listar' %}">Usuarios</a>
                </li>
            </div>
            <div id="acordion-escuelas" class="panel-group">
                <li>
                    <a href="{% url 'escuela:escuela_listar' %}">Escuelas</a>
                </li>
            </div>
            <div id="acordion-programas" class="panel-group">
                <li>
                    <a href="{% url 'programa:programa_listar' %}">Programas Académicos</a>
                </li>
            </div>
            <div id="acordion-cursos" class="panel-group">
                <li>
                    <a href="#curso" data-toggle="collapse" data-parent="#acordion-cursos">Cursos</a>
                </li>
                <section>
                    <div id="curso" class="panel-collapse collapse in">
                        <ul>
                            <li>
                                <a href="{% url 'curso:curso_crear' %}">Agregar Curso</a>
                            </li>
                            <li>
                                <a href="{% url 'curso:curso_listar' %}">Consultar Cursos</a>
                            </li>
                            
                        </ul>
                    </div>
                </section>
            </div>
            <li>
                <a href="{% url 'salir' %}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->