<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            </li>
            <li>
                <a href="#">Perfil</a>
            </li>
            <div id="acordion-usuarios" class="panel-group">
                <li>
                    <a href="#usuario" data-toggle="collapse" data-parent="#acordion-usuarios">Usuarios</a>
                </li>
                <section>
                    <div id="usuario" class="panel-collapse collapse in">
                        <ul>
                            <li>
                                <a href="{% url 'usuario:usuario_crear' %}">Agregar Usuario</a>
                            </li>
                            <li>
                                <a href="{% url 'usuario:usuario_listar' %}">Consultar Usuarios</a>
                            </li>
                            
                        </ul>
                    </div>
                </section>
            </div>
            <div id="acordion-escuelas" class="panel-group">
                <li>
                    <a href="#escuela" data-toggle="collapse" data-parent="#acordion-escuelas">Escuelas</a>
                </li>
                <section>
                    <div id="escuela" class="panel-collapse collapse in">
                        <ul>
                            <li>
                                <a href="{% url 'escuela:escuela_crear' %}">Agregar Escuela</a>
                            </li>
                            <li>
                                <a href="{% url 'escuela:escuela_listar' %}">Consultar Escuelas</a>
                            </li>
                            
                        </ul>
                    </div>
                </section>
            </div>
            <li>
                <a href="#">Cerrar sesión</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->