<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            </li>
            <li>
                <a href="#">Perfil</a>
            </li> 
            <div id="acordion-escuelas" class="panel-group">
                <li>
                    <a href="{% url 'escuela:escuela_listar' %}">Escuelas</a>
                </li>
            </div>               
            <div id="acordion-programas" class="panel-group">
                <li>
                    <a href="{% url 'programa:programa_listar' %}">Programas Académicos</a>
                </li>
            </div>                    
            <li>
                <a href="{% url 'curso:curso_listar' %}" >Cursos</a>
            </li>

            <li>
                <a href="{% url 'salir' %}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
