{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div style="background-color: #E1E1E1">
    <section id="formulario">
        <div style="background-color: #FFFFFF" class="col-md-12 mx-auto">
            <div id="iniciar" class="panel-group">
                <h2>Consultar Curso</h2>
                <div style="float: right;">
                    <a class="btn btn-primary" href="{% url 'curso:curso_crear' %}">
                        <i class='icon-plus-sign-alt icon-large'></i> Nuevo Curso</a>
                </div>
                {% if object_list %}
                <table id="cursos" class="table table-bordered">
                    <thead>
                        <tr>
                            <td hidden>id</td>
                            <td style="color: black;width: 120px">Codigo del curso</td>
                            <td style="color: black;width: 320px">Nombre</td>
                            <td style="color: black;width: 20px;">Creditos</td>
                            <td style="color: black">Programa</td>
                            {% if not usuario.rol.nombre == "Decano" %}

                            <td class="text-center" style="width: 250px"> Acciones</td>
                            {% endif %}

                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in object_list %} {% if curso.estado %} {% if curso.completo %}
                        <tr id="verde">
                            {% else %}
                            <tr id="rojo">
                                {% endif %}
                                <td hidden> {{curso.id}} </td>
                                <td>{{ curso.codigo }} </td>
                                <td>{{ curso.nombre }}</td>
                                <td class="text-center">{{ curso.creditos }}</td>
                                <td>{{ curso.programa.nombre }}</td>
                                {% if not usuario.rol.nombre == "Decano" %}

                                <td class="text-center" style="padding: 10px 10px 10px 10px">
                                    <a class="btn btn-primary btn-sm" href="{% url 'curso:curso_editar' curso.id %}"> Editar </a>
                                    <a id="delete" class="btn btn-danger btn-sm" data-tipo="curso" data-id="{{ curso.id }}" data-nombre="{{ curso.nombre }}"
                                        href="#">Eliminar</a>
                                    <a id='detail' class="btn btn-primary btn-sm" data-id="{{ curso.id }}" href="#"> Detalle </a>
                                        <a class="btn btn-primary btn-sm" href="{% url 'competencia:competencia_listar' curso.id %}">
                                            <img style="width: 20px" src="{% static 'images/reporte.png' %}" alt="">
                                        </a>
                                    

                                </td>
                                {% endif %}

                            </tr>
                            {% endif %} {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>NO HAY CURSOS REGISTRADOS</h4>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% endblock %} {% block extrajs %}
<script src="{% static 'js/curso_list.js' %}"></script> {% endblock %}